html {
    scroll-snap-type: y mandatory;
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
}


.video-container {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: black;
}

.video-placeholder {
    height: 780px;
    width: 1280px;
    position: relative;
    border-radius: 25px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

.video-placeholder::-webkit-scrollbar {
    display: none;
}

.video-placeholder {
    -ms-overflow-style: none;
    scrollbar-width: none;
}