.video {
    position: relative;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
}

.video::before {
    content: '';
    display: block;
    box-shadow: 0 -33px 48px rgba(0, 0, 0, 0.5) inset;
    width: 100%;
    pointer-events: none;
    z-index: 99;
    top: 0;
    left: 0;
    position: absolute;
    background: transparent;
}

.player {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%)translateY(-50%);
    object-fit: fill;
}

.bottom-controls {
    display: flex;
    align-items: flex-end;
    height: 100%;
}