.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    background-color: black; /* Optional: for better visibility */
}

.video-player {
    max-height: 780px;
    max-width: 1280px;
    object-fit: cover; /* Adjusts video size to cover the container */
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    .video-player {
        width: auto;
        max-height: 90%;
        max-width: 100%;
        object-fit: contain; /* Ensures video is fully visible on smaller screens */
    }
}
